.features {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section(94px);
  }

  &__list {
    @extend %list;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }
  }

  &__rectangle {
    @extend %flex;

    height: 120px;
    background-color: var(--secondary-bcg-cl);
    margin-bottom: 30px;
    border-radius: var(--border-radius-button);
  }

  &__subtitle {
    @extend %list;

    color: var(--title-txt-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
