.footer {
  @include section;
  background-color: var(--footer-bcg-cl);
 
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
    padding: 0 72px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
    margin-right: auto;
  }
}

.footer-group {
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__list {
    @extend %list;
  }
}

.contacts__link {
  @extend %link;

  color: var(--light-cl);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);

  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }

  &--transparent {
    color: var(--footer-link-cl);
  }
}

.join {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  &__item {
    @extend %list;
  }

  &__title {
    display: block;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
    color: var(--light-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__icon {
    fill: var(--light-cl);
  }
}

.join__link {
  @extend %flex;

  width: 44px;
  height: 44px;
  background-color: var(--icon-footer-elipce-cl);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-cl);
  }
}

// SUBSCRIBE
.subscribe__title {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  color: var(--light-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-form {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__field {
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-right: 12px;
    }
  }
}

.subscribe-form__input {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: var(--box-shadow-button);
  border-radius: var(--border-radius-button);
  /* outline: transparent; */
  cursor: pointer;
  background-color: transparent;
  color: var(--light-cl);

  transition: border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-cl);
  }

  &::placeholder {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: var(--footer-link-cl);
  }
}

.subscribe-form {
  &__btn {
    margin-right: auto;
    margin-left: auto;
    @extend %button;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 28px;
    padding-right: 28px;

    width: 200px;
    height: 50px;

    border-style: none;
  }

  &__btn-icon {
    fill: var(--light-cl);
  }
  &__btn-name {
    margin-right: auto;
    color: var(--light-cl);
  }
}
