.btn-menu,
 {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;

  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-cl);
  }
}

.menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;
  
    background-color: transparent;
    border: none;
  
    cursor: pointer;
  
    &:hover,
    &:focus {
      fill: var(--accent-cl);
    }
  }

.menu-container {
  @media screen and (min-width: 768px) {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: var(--light-cl);

  transform: translateX(100%);
  transition: transform var(--duration) var(--timing-function);

  &.is-open {
    transform: translateX(0);
  }
}


.mobile-nav,
.mobile-auth,
.mobile-menu {
  @extend %list;
}
.mobile-nav__link,
.mobile-auth__link,
.mobile-socials__link {
  @extend %link;
}

.mobile-socials {
  @extend %list;
  display: flex;

  color: var(--accent-cl);
  font-weight: 500;
  font-size: 18px;

//   line-height: (22 / 18);
line-height: calc(120 / 34);
  letter-spacing: 0.02em;
}

.mobile-nav {
  margin-bottom: auto;

  font-weight: 500;
  font-size: 40px;
//   line-height: calc(47 / 40);
line-height: calc(80 / 40);
  letter-spacing: 0.02em;

  color: #212121;
 
  &__link {
    margin: 32px;

    &:hover,
    &:focus {
      color: var(--accent-cl);
    }
  }
}

.mobile-auth {
  &__link-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(80 / 34);
    // line-height: calc(40 / 34);
    letter-spacing: 0.02em;

    color: var(--accent-cl);
  }

  &__link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;

    color: var(-main-txt-cl);
  }
}
